<div class="container-fluid">
  <div class="bs-docs-section">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-11">
        <h1 id="welcome">Welcome</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <p>Welcome to kalikat. Here you can find an exciting minecraft server as well as current programming projects in development</p>
        <p>Please browse site check out the live lookin to the minecraft server soon to be up under the mincraft tap.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md_11">
        <h1 id="development">Development</h1>
      </div>
    </div>
  </div>
</div>
