.container-fluid
  .row
    .col-md-2
    .col-md-10
      .bs-docs-section
        %h1{:id => "welcome"} Welcome
      .bs-docs-section
        %h1{:id => "developement"} Developement
      .bs-docs-section