.row
  .col-md-2
  .col-md-10
    %h1 Minecraft
.row
  .col-md-12.text-center
    %iframe.dynmap{:src => 'http://kalikat.zapto.org:8123/?worldname=city&mapname=surface&zoom=4&x=-87&y=64&z=-12', :height => 500, :width => 500}
