// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.article-section{
  height: 200px;
  width: 100%;
  margin: 0px 0px 0px 0px;
}
.section_line_odd{
  background-color: #b0b0b0;
}
.section_line_even{
  background-color: #8daffe;
  color: #000000;
}
